<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Upload File</title>
</head>
<body>
    <h1>Upload File</h1>
    <form method="POST" action="{{ url_for('process_resumes') }}" enctype="multipart/form-data">
        <h2>Job Description</h2>
        <label>Job Title: </label>
        <input type="text" name="JD" id="JD" required> <br>
        <label>Experience Value: </label>
        <input type="number" value="5" name="ExperienceValue" id="ExperienceValue" required><br>
        <label>Experience (in years): </label>
        <input type="number" name="Experience" id="Experience" required> <br>
        <label>Skills Value: </label>
        <input type="number" value="3" name="SkillsValue" id="SkillsValue" required><br>
        <label>Skills: </label>
        <input type="text" name="Skills" id="Skills" required> <br>
        <label>Tools Value: </label>
        <input type="number" value="3" name="ToolsValue" id="ToolsValue" required><br>
        <label>Tools: </label>
        <input type="text" name="Tools" id="Tools" required> <br>

        <h2>Resumes</h2>
        <input type="file" name="files[]" multiple required> <br>

        <input type="submit" value="Process">
    </form>
</body>
</html>
